<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-visit-heading">Create or edit a Visit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!visit.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="visit.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_visitDate">Visit Date</label>
                    <div class="d-flex">
                        <input id="field_visitDate" type="datetime-local" class="form-control" name="visitDate" [(ngModel)]="visitDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_mSE">M SE</label>
                    <input type="text" class="form-control" name="mSE" id="field_mSE"
                        [(ngModel)]="visit.mSE" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_physicalExamination">Physical Examination</label>
                    <input type="text" class="form-control" name="physicalExamination" id="field_physicalExamination"
                        [(ngModel)]="visit.physicalExamination" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_treatment">Treatment</label>
                    <input type="text" class="form-control" name="treatment" id="field_treatment"
                        [(ngModel)]="visit.treatment" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" [(ngModel)]="visit.patient" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === visit.patient?.id ? visit.patient : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
