<div>
    <h2 id="page-heading">
        <span>Diagnoses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diagnosis" [routerLink]="['/diagnosis/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Diagnosis
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

    <div class="col-md-4 content-section implementation">
        <p-chart type="pie" [data]="data" #pieChart
        *ngIf="visible"></p-chart>
    </div>

    <div class="table-responsive" *ngIf="diagnoses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Diagnosis Name</span></th>
            <th></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diagnosis of diagnoses ;trackBy: trackId">
                <td><a [routerLink]="['/diagnosis', diagnosis.id, 'view' ]">{{diagnosis.id}}</a></td>
                <td>{{diagnosis.diagnosisName}}</td>
                <td>{{diagnosis.patients?.length}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/diagnosis', diagnosis.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/diagnosis', diagnosis.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'diagnosis/'+ diagnosis.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
