.visit-ui-accordion-header {
    height: 30px;
    background-color: black;
    color: red;
    font-style: normal;
}

.icon-visit-color {
    color: chartreuse;
}

.icon-ast-color {
    color: burlywood;
}
